<% title("Políticas de privacidad de SitiosDeGuitarra.com") %>

<p>
  <strong>Si necesita más información o tiene alguna pregunta sobre nuestras políticas de seguridad, por favor póngase en contacto por correo electrónico a la dirección privacidad@sitiosdeguitarra.com.</strong>
</p>

<p>
  La privacidad de nuestros visitantes es muy importante para nosotros. Este documento de políticas de privacidad describe el tipo de información personal que es recibida y recogida por SitiosDeGuitarra.com y la manera como esta información es utilizada.
</p>


<h2>Archivos de log</h2>
<p>
  Como muchos otros sitos web, SitiosDeGuitarra.com utiliza archivos de log. Se trata de archivos generados automáticamente por el servidor web con el fin de tener un registro de acceso a las diferentes páginas de SitiosDeGuitarra.com. El contenido de estos archivos incluye la siguiente información del visitante: dirección IP, tipo de navegador, ISP, hora y fecha de la visita, páginas de entrada/salida y número de clicks en los diferentes enlaces del sitio. Esta información se utliza para analizar tendencias, administrar el sitio, rastrear patrones de navegación y recolectar información demográfica. Lo anterior se hace de manera anónima: Las direcciones IP y demás no están ligadas a ninguna información que sea identificable a nivel personal.
</p>

<h2>Cookies</h2>
<p>
  SitiosDeGuitarra.com utiliza cookies. Las cookies son pequeñas cantidades de información que se almacenan en el navegador utilizado por cada usuario para que el servidor recuerde cierta información que posteriormente pueda utilizar. Esta información permite identificarle a usted como un usuario concreto y permite guardar sus preferencias, así como información técnica como pueden ser visitas o páginas concretas que visite. Aquellos usuarios que no deseen recibir cookies o quieran ser informados antes de que se almacenen en su ordenador, pueden configurar su navegador a tal efecto.
</p>

<p>
  La mayor parte de los navegadores de hoy en día permiten la gestión de las cookies de 3 formas diferentes:
  <ul>
    <li>Las cookies no se aceptan nunca.</li>
    <li>El navegador pregunta al usuario si se debe aceptar cada cookie.</li>
    <li>Las cookies se aceptan siempre.</li>
  </ul>

  El navegador también puede incluir la posibilidad de especificar mejor qué cookies tienen que ser aceptadas y cuáles no. En concreto, el usuario puede normalmente aceptar alguna de las siguientes opciones: rechazar las cookies de determinados dominios; rechazar las cookies de terceros; aceptar cookies como no persistentes (se eliminan cuando el navegador se cierra); permitir al servidor crear cookies para un dominio diferente. Además, los navegadores pueden también permitir a los usuarios ver y borrar cookies individualmente. Para más información sobre como modificar la configuración de cookies en su navegador, refiérase a la documentación específica de su navegador.
</p>


<h2>La cookie de DART de DoubleClick</h2>
<p>
  <ul>
    <li>
      Los proveedores de terceros, incluido Google, utilizan cookies para publicar anuncios en SitiosDeGuitarra.com y otros sitios web basándose en las visitas que el usuario realice. Entre estas cookies se incluye la cookie de DART de DoubleClick.
    </li>

    <li>
      El uso de la cookie de DART permite a Google y a sus socios publicar anuncios basados en las visitas que los usuarios realizan en SitiosDeGuitarra.com o en otros sitios de Internet.    
    </li>

    <li>
      Los usuarios pueden inhabilitar el uso de la cookie de DART a través de la página de inhabilitación de anuncios: <a href="http://www.google.com/privacy_ads.html">http://www.google.com/privacy_ads.html</a>.
    </li>
  </ul>
</p>

<h2>Web Beacons</h2>
<p>
  Este sitio puede albergar también web beacons (también conocidos por web bugs). Los web beacons suelen ser pequeñas imágenes de un 1x1 pixel, visibles o invisibles colocados dentro del código fuente de las páginas web de un sitio. Los Web beacons sirven y se utilizan de una forma similar a las cookies. Además, los web beacons suelen utilizarse para medir el tráfico de usuarios que visitan una página web y poder sacar un patrón de los usuarios de un sitio.
</p>


<h2>Terceros</h2>
<p>
  En algunos casos, compartimos información sobre los visitantes de este sitio de forma anónima o agregada con terceros como puedan ser anunciantes, patrocinadores o auditores con el único fin de mejorar nuestros servicios. Todas estas tareas de procesamiento serán reguladas según las normas legales y se respetarán todos sus derechos en materia de protección de datos conforme a la regulación vigente.
</p>

<p>
  Este sitio mide el tráfico con diferentes soluciones que pueden utilizar cookies o web beacons para analizar lo que sucede en nuestras páginas. Actualmente utilizamos las siguientes soluciones para la medición del tráfico de este sitio. Puede ver más información sobre la política de privacidad de cada una de las soluciones utilizadas para tal efecto:
  <ul>
    <li>Google (Analytics): <a href="http://www.google.com/intl/es_ALL/privacypolicy.html">http://www.google.com/intl/es_ALL/privacypolicy.html</a></li>
  </ul>
</p>

<p>
  Este sitio también puede albergar publicidad propia, de afiliados, o de redes publicitarias. Esta publicidad se muestra mediante servidores publicitarios que también utilizan cookies para mostrar contenidos publicitarios afines a los usuarios.
</p>

<p>
  Estos servicios publicitarios de terceros reciben la dirección IP del visitante cuando se muestra uno de sus anuncios en SitiosDeGuitarra.com. Otras tecnologías (como cookies, JavaScript, or Web Beacons) también podrían ser usada por estos terceros para medir la efectividad de sus anuncios y/o personalizar los anuncios que el visitante vea.
</p>

<p>
  SitiosDeGuitarra.com no tiene ningún acceso o control sobre los cookies utilizados por estos terceros.
</p>

<p>
  El usuario debe consultar las respectivas políticas de privacidad de estas redes de anuncios para información más detallada en sus prácticas así como instrucciones para deshabilitar algunas de ellas. Las políticas de privacidad de SitiosDeGuitarra.com no aplican a estos terceros.
</p>

<p>
  Actualmente este sitio alberga publicidad de:
  <ul>
    <li>Google Adsense: <a href="http://www.google.com/intl/es_ALL/privacypolicy.html">http://www.google.com/intl/es_ALL/privacypolicy.html</a></li>
  </ul>
</p>