<form action="<%= search_url %>" id="cse-search-box">
  <div>
    <input type="hidden" name="cx" value="partner-pub-4711309222734567:1209049294" />
    <input type="hidden" name="cof" value="FORID:10" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="25" />
    <input type="submit" name="sa" value="Buscar" />
  </div>
</form>

<script type="text/javascript" src="http://www.google.es/coop/cse/brand?form=cse-search-box&amp;lang=es"></script>
