<% title "Directorio de sitios de guitarra#{params[:page] ? " - Página #{params[:page]}" : ""}" %>
<% meta_description "Directorio de sitios de guitarra en español y artículos para aprender a tocar guitarra." %>


<% for site in @sites %>
  <%= render :layout => site do %>
    <%= textilize(site.review, link_to("Leer más sobre #{site.title}...", site)).html_safe %>
  <% end %>
<% end %>

<%= render :partial => "pagination" %>

<% if admin? %>
  <p><%= link_to "Nuevo Sito", new_site_path(site) %></p>
<% end %>
