<% title "Directorio de sitios de guitarra#{params[:page] ? " - Página #{params[:page]}" : ""}" %>
<% meta_description "Directorio de sitios de guitarra en español y artículos para aprender a tocar guitarra." %>

<% if @sites.current_page == 1 %>
  <% content_for(:head) { "<link rel='canonical' href='#{root_url}' />".html_safe } %>
<% end %>


<% for site in @sites %>
  <%= render :layout => site do %>
    <%= textilize(site.review, link_to("Leer más sobre #{site.title}...", site)).html_safe %>
  <% end %>
<% end %>

<%= render :partial => "pagination" %>

<% if admin? %>
  <p><%= link_to "Nuevo Sito", new_site_path(site) %></p>
<% end %>
